<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h1>Appointments</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Customer ID</th>
        <th>Provider ID</th>
        <th>Service ID</th>
        <th>Start</th>
        <th>End</th>
        <th>Status</th>
    </tr>
    <tr th:each="appt : ${appointments}">
        <td th:text="${appt.appointmentId}">1</td>
        <td th:text="${appt.customerId}">1</td>
        <td th:text="${appt.providerId}">1</td>
        <td th:text="${appt.serviceId}">1</td>
        <td th:text="${appt.startTime}">Time</td>
        <td th:text="${appt.endTime}">Time</td>
        <td th:text="${appt.status}">BOOKED</td>
    </tr>
</table>

<br>
<a href="/">Back to Home</a>
</body>
</html>

